body{
	color: white;
	background: url("postit.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#lg{
	float:right;
}

table {
	width: 45%;
	text-align: center;
	border: 0;
}
